<div class="topnav navbar-expand-md">
    <nav>
        <a href="/">Home</a>
        {{#if loggedin}}
        <a href='/user/{{userID}}'>{{currentUser}}</a>
        <a href="/logout">Log Out</a>
        {{else}}
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
        {{/if}}
        </ul>

    </nav>
</div>