<section>
      <h1>Your Progress in Discrete Structures: 0%</h1>
      </p>
      <hr />
      <div id="discrete_menu">
            <aside>
                  <a href="/discrete/lesson1"><div class="courselinks">Lesson 1: Propositions</div></a>
                  <a href="/discrete/lesson2"><div class="courselinks">Lesson 2</div></a>
            </aside>
            <div>
                  <p>
                       Congratulations, you've been hired as a cook in my restaurant, Discrete Dining!
                       To avoid any theft of our recipes, we don't write them down. Instead, you need to 
                       figure out the recipes using knowledge of discrete structures. What's that? 
                       You don't know discrete structures? Not to worry, I will train you with these lessons!
                  </p>
                  <img src="../../public/img/chef_happy.png"></div>
            </div>
      </div>
</section>