<section>
      <h1>Your Progress in Human-Computer Interaction: 0%</h1>
      </p>
      <hr />
      <div>
            <aside>
                  <a href="/hci/lesson1"><div class="courselinks">Lesson 1</div></a>
                  <a href="/hci/lesson1game"><div class="courselinks">Lesson 1 Game</div></a>
                  <a href="/hci/lesson2"><div class="courselinks">Lesson 2</div></a>
                  <a href="/hci/lesson2game"><div class="courselinks">Lesson 2 Game</div></a>
            </aside>
      </div>
</section>