<section>
      <h1>CS Duolingo</h1>
      <p id="description">Welcome to CS Duolingo!!! {{#unless loggedin}}
            <a href='/signup'>Create an account</a>to start learning from one of our great courses!{{/unless}}
      </p>
      <hr />
      <div>
            <aside>

            </aside>
      </div>
</section>